DATABASE_URL="postgresql://username:password@ep-xxx.neon.tech/todolist?sslmode=require"

PORT=3001
NODE_ENV=development

REDIS_URL="redis://localhost:6379"

AI_SERVICE_URL="localhost:50051"

GEMINI_API_KEY="AIza..."

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-super-secret-key-min-32-chars"

FRONTEND_URL="http://localhost:3000"

UPLOADTHING_SECRET="sk_live_..."
UPLOADTHING_APP_ID="your-app-id"
